﻿@using System.Collections
@using Highsoft.Web.Mvc.Charts

@model UCall.UI.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<script type="text/javascript">

        function formatToolTip() {
            return '<b>' + this.x + '</b><br/>' +
                   this.series.name + ': ' + this.y + '<br/>' +
                   'Total: ' + this.point.stackTotal;
        }

</script>
<div class="row">
    <div class="col-md-2">
        <div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Data</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                    <div class="form-group">
                        @Html.LabelFor(x => x.DataInicio)
                        @Html.EditorFor(m => m.DataInicio, new { htmlAttributes = new { @class = "form-control", autocomplete = "false" } })
                        @Html.ValidationMessageFor(x => x.DataInicio, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.DataFim)
                        @*@Html.TextBoxFor(x => x.DataFim, new { @class = "form-control", autocomplete = "false"})*@
                        @Html.EditorFor(m => m.DataFim, new { htmlAttributes = new { @class = "form-control", autocomplete = "false" } })
                        @Html.ValidationMessageFor(x => x.DataFim, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Campanha)
                        @Html.DropDownList("IdCampanha", null, new { @class = "form-control", autocomplete = "false" })
                        @Html.ValidationMessageFor(x => x.Campanha, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control">Procesar <i class="fa fa-send"></i></button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-inbox"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Chamadas Recebidas</span>
                        <span class="info-box-number"  style="font-size: 30px">@ViewData["Recebidas"]</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-phone"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Chamadas Atendidas</span>
                        <span class="info-box-number"  style="font-size: 30px">@ViewData["Atendidas"]</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Taxa de Eficácia</span>
                        <span class="info-box-number">41,410</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">SLA 20 Seg</span>
                        <span class="info-box-number">2356</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-volume-control-phone"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tempo Medio de Atendimento (TMA)</span>
                        <span class="info-box-number " style="font-size: 30px">@ViewData["Atendidas"]</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-pause"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tempo Medio de Espera (TME)</span>
                        <span class="info-box-number" style="font-size: 30px">@ViewData["Atendidas"]</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-5">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Top 5 Chamadas Completas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @(Html.Highsoft().Highcharts(
                    new Highcharts
                    {
                        Chart = new Highsoft.Web.Mvc.Charts.Chart
                        {
                            Options3d = new ChartOptions3d
                            {
                                Enabled = true,
                                Alpha = 45,
                                Beta = 0
                            }
                        },
                        Title = new Title { Text = "Top 5 Chamadas Completas" },
                        Tooltip = new Tooltip
                        {
                            PointFormat = "{series.name}: <b>{point.percentage:.1f} %</b>"
                        },
                        PlotOptions = new PlotOptions
                        {
                            Pie = new PlotOptionsPie
                            {
                                AllowPointSelect = true,
                                Cursor = PlotOptionsPieCursor.Pointer,
                                Depth = 35,
                                DataLabels = new PlotOptionsPieDataLabels
                                {
                                    Enabled = true,
                                    Format = "<b>{point.name}</b>"
                                }
                            }
                        },
                        Series = new List<Series>
                        {
                            new PieSeries
                            {
                                Name = "Porcentagem",
                                Data = @ViewData["pieData"] as List<PieSeriesData>
                            },

                        }
                    }
                    , "Top5")
                )
            </div>
        </div>
    </div>
    
    @*<div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">TMA e TME / Hora</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>*@
</div>

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Data</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Número de chamadas recebidas, atendidas e perdidas por dia</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Observações</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
</div>
