﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/assets/plugins/PleaseWait/please-wait.css" rel="stylesheet" />
    <script src="~/assets/plugins/PleaseWait/please-wait.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-purple sidebar-collapse sidebar-mini">
    <script type="text/javascript">
        function Splash() {
            var splash = window.pleaseWait({
                logo: "/assets/img/logoweb.png",
                backgroundColor: '#3c8dbc',
                loadingHtml: '<div class="sk-folding-cube"><div class="sk-cube1 sk-cube" ></div><div class="sk-cube2 sk-cube"></div><div class="sk-cube4 sk-cube"></div><div class="sk-cube3 sk-cube"></div></div>'
            });

            return splash;
        }

        waiter = Splash();
        $(document)
            .ready(function () {
                setTimeout(function () {
                    waiter.finish();
                }, 2000);

            });
    </script>
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>U</b>Call</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>U</b>Call DashBoard</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @*@if (User.Identity.IsAuthenticated)
                        {
                            @Html.Partial("Profile", usuario)
                        }*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    @Html.Partial("Menus")
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Subtitle</small>
                </h1>

            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> @ViewContext.Controller.GetType().Assembly.GetName().Version
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://www.facebook.com/erikson.gomes">Erikson Melgarejo</a>.</strong>
        </footer>
    </div>

    <!-- ./wrapper -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/AdminLTE.min.css" rel="stylesheet" />
    @*<link href="~/assets/css/skins/skin-blue.min.css" rel="stylesheet" />*@
    <link href="~/assets/css/skins/skin-purple.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <link href="~/assets/plugins/SweetAlert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="~/assets/js/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script src="~/assets/plugins/SweetAlert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/AdminLTE.js"></script>
    <script src="~/assets/plugins/iCheck/icheck.min.js"></script>

    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script src="~/assets/js/EriksonJS.js"></script>
    
    
    <script src="~/assets/plugins/HighCharts/highcharts.js"></script>
<script src="~/assets/plugins/HighCharts/highcharts-3d.js"></script>
    <script src="~/assets/plugins/HighCharts/modules/exporting.js"></script>

<script>
        $(document).ready(function () {
            $('input[type="radio"]')
                .iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '20%' // optional
                });

            $('input[type="checkbox"]:not(.bootstrap-switch)')
                .iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '20%' // optional
                });

            $('.tabela').ToTable();
        })
    </script>

    @RenderSection("scripts", required: false)

    @{
        if (ViewBag.Erro != null)
        {
            foreach (var m in (List<string>)ViewBag.Erro)
            {
                <script>
                    MsgErro('@m');
                </script>
            }
        }

        if (TempData["Ok"] != null)
        {
            foreach (var m in (List<string>)TempData["Ok"])
            {
                <script>
                    MsgOk('@m');
                </script>
            }
        }

        if (ViewBag.Info != null)
        {
            foreach (var m in (List<string>)ViewBag.Info)
            {
                <script>
                    MsgInfo('@m');
                </script>
            }
        }

        if (ViewBag.Alerta != null)
        {
            foreach (var m in (List<string>)ViewBag.Alerta)
            {
                <script>
                    MsgAlerta('@m');
                </script>
            }
        }

    }
</body>
</html>
