﻿@*<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">Menu de Navegação</li>
        <li>
            <a href="@(Url.Action("Index","Home"))">
                <i class="fa fa-home fa-fw"></i> <span>Inicio</span>
            </a>
        </li>
        
    </ul>
</section>*@
<li class="header">Menu de Navegação</li>
<li><a href="@(Url.Action("Index","Home"))"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
@*<li><a href="@(Url.Action("Index","ServiceLevel"))"><i class="fa fa-calendar"></i> <span>Metricas Diarias</span></a></li>*@
<li class="treeview">
    <a href="#">
        <i class="fa fa-calendar fa-fw"></i>
        <span>Metricas Diarias</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@(Url.Action("Relatorio","ServiceLevel"))"><i class="fa fa-file"></i> Relatorio</a></li>
        <li><a href="@(Url.Action("Graficos","ServiceLevel"))"><i class="fa fa-line-chart"></i> Graficos</a></li>
    </ul>
</li>
<li><a href="@(Url.Action("Index","Dashboard"))"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
@*
     <li>
        <a href="@(Url.Action("","",new{ Area = ""}))">
            <i class="fa fa-th fa-fw"></i> <span>Widgets</span>
        </a>
    </li>

    <li>
        <a href="@(Url.Action("","",new{ Area = ""}))">
            <i class="fa fa-th fa-fw"></i> <span>Widgets</span>
            <span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
            </span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o fa-fw"></i>
            <span>Layout Options</span>
    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@(Url.Action("","",new{ Area = ""}))"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
        </ul>
    </li>

    <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>
*@