﻿@using Highsoft.Web.Mvc.Charts
@model UCall.UI.Models.DataViewModels.RelatorioViewModel
@{
    ViewBag.Title = "Graficos";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Grafico Diario sobre Nivel de Serviço</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Graficos", "ServiceLevel", FormMethod.Post, new { @class = "" }))
            {
            <div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Data, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Data, new { @class = "form-control", autocomplete = "false", type = "date" })
                        @Html.ValidationMessageFor(x => x.Data, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdCampanha, new { @class = "col-sm-3 control-label" })
                        @Html.DropDownList("IdCampanha", null, new { @class = "form-control", autocomplete = "false" })
                        @Html.ValidationMessageFor(x => x.IdCampanha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success form-control" style="margin-top:24px">
                        <i class="fa fa-search"></i>&nbsp; Pesquisar
                    </button>
                </div>
            </div>
        }
    </div>
</div>


@if (@ViewData["total"] != null)
{
    var intervalos = new List<string>();

    for (int i = 0; i < 24; i++)
    {
        intervalos.Add($"{i}:00 - {i}:59");
    }

    @Html.Highsoft().Highcharts(
        new Highcharts
        {
            Title = new Title
            {
                Text = "Grafico de Chamadas",
                X = -20
            },
            Subtitle = new Subtitle
            {
                Text = Model.Data.ToShortDateString(),
                X = -20
            },
            XAxis = new List<XAxis>
            {
                new XAxis
                {
                    Categories = intervalos,
                    Title = new XAxisTitle
                    {
                        Text = "Intervalos"
                    }
                }
            },
            YAxis = new List<YAxis>
            {
                new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = " Quantidade de Chamadas"
                    },
                    PlotLines = new List<YAxisPlotLines>
                    {
                            new YAxisPlotLines
                        {
                            Value = 0,
                            Width = 1,
                            Color = "#808080"
                        }
                    }
                }
            },
            Tooltip = new Tooltip
            {
                ValueSuffix = " Chamadas"
            },
            Legend = new Legend
            {
                Layout = LegendLayout.Vertical,
                Align = LegendAlign.Right,
                VerticalAlign = LegendVerticalAlign.Middle,
                BorderWidth = 0
            },
            Series = new List<Series>
            {
                new LineSeries
                {
                    Name = "Total de Chamadas",
                    Data = @ViewData["total"] as List<LineSeriesData>
                },
                new LineSeries
                {
                    Name = "Atendidas",
                    Data = @ViewData["atendidas"] as List<LineSeriesData>
                },
                new LineSeries
                {
                    Name = "Abandonadas",
                    Data = @ViewData["abandonadas"] as List<LineSeriesData>
                },
                new LineSeries
                {
                    Name = "Rejeitadas",
                    Data = @ViewData["rejectadas"] as List<LineSeriesData>
                },
                new LineSeries
                {
                    Name = "RONA",
                    Data = @ViewData["rona"] as List<LineSeriesData>
                },
                new LineSeries
                {
                    Name = "Sobrecargas",
                    Data = @ViewData["sobrecargas"] as List<LineSeriesData>
                }
            }
        }
        , "chart")
}
