﻿@using UCall.Application
@model UCall.UI.Models.DataViewModels.RelatorioViewModel
@{
    ViewBag.Title = "Service Level";
    var resumos = (List<ResumoHora>)ViewBag.Resumos;
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Relatorio Diario sobre Nivel de Serviço</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Relatorio", "ServiceLevel", FormMethod.Post, new { @class = "" }))
            {
            <div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Data, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Data, new { @class = "form-control", autocomplete = "false", type = "date" })
                        @Html.ValidationMessageFor(x => x.Data, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdCampanha, new { @class = "col-sm-3 control-label" })
                        @Html.DropDownList("IdCampanha", null, new { @class = "form-control", autocomplete = "false" })
                        @Html.ValidationMessageFor(x => x.IdCampanha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success form-control" style="margin-top:24px">
                        <i class="fa fa-search"></i>&nbsp; Pesquisar
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@if (resumos.Any())
{
    <div class="box box-primary">
        <div class="box-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center">
                        <th><label>Intervalo</label></th>
                        <th><label>Total de Chamadas</label></th>
                        <th><label>Atendidas<br />(Espera =&lt; USL)</label></th>
                        <th><label>Atendidas<br />(Espera &gt; USL)</label></th>
                        <th><label>Abandonadas<br />(Espera =&lt; LSL)</label></th>
                        <th><label>Abandonadas<br />(Espera &gt; LSL)</label></th>
                        <th><label>Rejeitadas</label></th>
                        <th><label>Sobrecarga</label></th>
                        <th><label>Promedio de Duração de Chamadas</label></th>
                        <th><label>Promedio de Tempo de Espera</label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in resumos)
                    {
                        <tr>
                            <td>@r.Intervalo</td>
                            <td>@r.Chamadas</td>
                            <td>@r.AtendidasLower</td>
                            <td>@r.AtendidasUpper</td>
                            <td>@r.AbandonadasLower</td>
                            <td>@r.AbandonadasUpper</td>
                            <td>@r.Rejectadas</td>
                            <td>@r.Sobrecargas</td>
                            <td>@r.PromedioDuracaoChamada</td>
                            <td>@r.PromedioTempoEspera</td>
                        </tr>
                    }
                    <tr>
                        <td>Total</td>
                        <td>@resumos.Sum(x => x.Chamadas)</td>
                        <td>@resumos.Sum(x => x.AtendidasLower)</td>
                        <td>@resumos.Sum(x => x.AtendidasUpper)</td>
                        <td>@resumos.Sum(x => x.AbandonadasLower)</td>
                        <td>@resumos.Sum(x => x.AbandonadasUpper)</td>
                        <td>@resumos.Sum(x => x.Rejectadas)</td>
                        <td>@resumos.Sum(x => x.Sobrecargas)</td>
                        <td>@resumos.Sum(x => x.PromedioDuracaoChamada)</td>
                        <td>@resumos.Sum(x => x.PromedioTempoEspera)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}