﻿<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Title</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        Start creating your amazing application!
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div>
    <!-- /.box-footer-->
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Title</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        Start creating your amazing application!
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div>
    <!-- /.box-footer-->
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "box box-primary" }))
{
<div class="box-header with-border">
    <h3 class="box-title">Title</h3>
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
<div class="box-body">
    Start creating your amazing application!
</div>
<!-- /.box-body -->
<div class="box-footer">
    Footer
</div>
<!-- /.box-footer-->
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "box box-primary" }))
{
<div class="box-header with-border">
    <h3 class="box-title">Title</h3>
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i>
        </button>
    </div>
</div>
<div class="box-body">
    Start creating your amazing application!
</div>
<!-- /.box-body -->
<div class="box-footer">
    <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i>&nbsp;Guardar</button>
</div>
<!-- /.box-footer-->
}

<div class="box box-primary">
    <div class="box-header">

    </div>
    <div class="box-body">

    </div>
    <div class="box-footer">

    </div>
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Nome, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-6">
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control text-capitalize", autocomplete = "false" })
    </div>
    <div class="col-sm-3">
        <p class="help-block">
            @Html.ValidationMessageFor(x => x.Nome, "", new { @class = "text-danger" })
        </p>
    </div>
</div>

@using(Html.BeginForm("","",new{Area=""},FormMethod.Post))
{
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Fechar</button>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
}

@Html.DropDownList("Curso", null, new { @class = "form-control text-capitalize", autocomplete = "false" })

<a class="btn btn-default pull-left" href="@(Url.Action(" Index","Templates",new{ Area="Admin" }))"><i class="fa fa-reply"></i>&nbsp;Voltar</a>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>

---------------
$('#carregarContaForm').submit(function (e) {

        e.preventDefault();

        var $form = $(this), url = $form.attr('action');

        swal({
            title: 'Deseja carregar esta conta?',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#00a65a',
            cancelButtonColor: '#d33',
            confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> Sim',
            cancelButtonText:
            '<i class="fa fa-thumbs-down"></i> Não',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger'
        }).then(function () {

            var posting = $.post(url, $form.serialize());

            posting.done(function (data) {
                if (data.Resultado === true) {
                    ModalMsgOk(data.Mensagem);
                }
                else {
                    ModalMsgErro(data.Mensagem);
                }
            });

                posting.fail(function() {
                    ModalMsgErro();
                });
            },

            function (dismiss) {
                if (dismiss === 'cancel') {
                    swal(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    );
                }
            });
});


<script>
    $(document).ready(function() {
        $('.Reservar').click(function(e) {
            var $this = $(this);

            var evento = $this.data('evento');

            var destino = '@(Url.Action("Reservar", "Eventos", new {Area = "Estudante"}))';

            var waiter = Splash();

            $.ajax({
                    method: "POST",
                    url: destino,
                    data: { evento: evento }
                })
                .done(function (data) {

                    waiter.finish();

                    if (data.Resultado === true) {
                        MsgOk(data.Mensagem);
                    } else {
                        MsgErro(data.Mensagem);
                    };
                });

        });
    });
</script>